
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 76px;
    left: 0px;
    background-color: rgb(53, 53, 53);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    /* Borders */
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: rgb(119, 7, 134);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(119, 7, 134);
}

.sidenav img{
    width: 62px;
    height: 62px;
    margin-top: 30px;
    margin-left: 11px;
    filter: brightness(3);
    opacity: 0.5;
    transition: 0.3s;
}

/*#profile{
    filter: brightness(3);
}*/

.sidenav img:hover{
    opacity: 1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
