{% load static %}
<!DOCTYPE HTML>

<html>
    <html lang="en"></html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">   <!-- toa %now U samo za debugging-->
        <link rel="stylesheet" type="text/css" href="{% static 'royaltyv/css/main.css' %}?{% now 'U' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'royaltyv/css/sidebar.css' %}?{% now 'U' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'royaltyv/css/menu-icon.css' %}?{% now 'U' %}">
        <script src="{% static 'royaltyv/js/main.js' %}"></script>
        <title>RoyaltyV</title>
    </head>

    <body>
        {% if messages %}
                {% for message in messages %}
                <div style="background-color: rgb(47, 255, 64); border: 4px solid rgb(11, 119, 20)">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        
        <div id="mySidenav" class="sidenav">
            <a href="{% url 'trending_movies' %}">
                <img src="{% static 'royaltyv/img/movies_icon.png' %}" title="Movies">
            </a>
            <a href="{% url 'trending_tvs' %}">
                <img src="{% static 'royaltyv/img/tv_shows_icon.png' %}" title="TV Shows">
            </a>
            <a href="#">
                <img src="{% static 'royaltyv/img/favorites_icon.png' %}" title="Favorites">
            </a>
            <a href="#">
                <img id="profile" src="{% static 'royaltyv/img/profile_icon.png' %}" title="Profile">
            </a>
            <a href="#">
                <img src="{% static 'royaltyv/img/about.png' %}" title="About">
            </a>
            <a href="#">
                <img src="{% static 'royaltyv/img/settings_icon.png' %}" title="Settings">
            </a>
        </div>
          
        
        <div id="upper-part" class="upper-part">
            {% block search-form %}{% endblock %}
            <div id="menu-icon" class="menu-icon" onclick="animateMenuIcon(this); sidebarAction()">
                <div class="menu-bar1"></div>
                <div class="menu-bar2"></div>
                <div class="menu-bar3"></div>
            </div>
        </div>

        <div id="main">
            {% block content %}{% endblock %}
        </div>
        
    </body>

</html>


