{% extends "royaltyv/home/base.html" %}

{% block search-form %}
    <form class="searchbar-form" action="{% url 'search_movies' %}" method="GET">
        <input type="text" id="searchbar" name="search" placeholder="Search">
    </form>
{% endblock search-form %}

{% block content %}
<!-- For background with style set from here (html)
style="background-image: url({{img_base_url}}{{data.backdrop_path}}); filter: brightness(40%); min-width: 100%;"
-->
<div id="background" style="background-image: url({{img_base_url}}{{data.backdrop_path}}); background-repeat: no-repeat; background-size: cover;"></div>
<div class="selected-scene">
    <!--<img id="background" src="{{ img_base_url }}{{ data.backdrop_path }}">-->
    <p class="title">{{data.title}}</p>
    <div class="break-line"></div>
    <img src="{{img_base_url}}{{data.poster_path}}">
    <div class="break-line"></div>
    <div class="overview">
        {{data.overview}}
    </div>
    <div class="break-line"></div>
    <div class="details">
        Status: {{ data.status }}
        <br>
        Runtime: {{ data.runtime }} minutes
        <br>
        Rating: {{ data.vote_average }}
        <br>
        Release date: {{data.release_date}}
        <br>
        Genre: {% for genre in data.genres %}
            {{ genre.name }}
        {% endfor %}
        <br>
        Adult: {{ data.adult }}
        <br>
        Language: {{ data.original_language }}
        <br>
        <br>
    </div>
    <div class="break-line"></div>
</div>
{%  endblock content %}
