{% extends "royaltyv/home/base.html" %}

{% block search-form %}
    <form class="searchbar-form" action="{% url 'search_tvs' %}" method="GET">
        <input type="text" id="searchbar" name="search" placeholder="Search">
    </form>
{% endblock search-form %}

{% block content %}
    <div class="canvas-grid">
        {% for tv in data %}
            <a href="{% url 'selected_tv' tv_id=tv.id %}" class="block">
                <img src="{{img_base_url}}{{tv.poster_path}}">
                <p>{{ tv.name }}</p>
            </a>
        {% endfor %}         
    </div>
{%  endblock content %}
                



