{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE HTML>

<html>
    <html lang="en"></html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>RoyaltyV</title>
    </head>

    <body>
        <div>
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>Join today</legend>
                    {{ form|crispy }}
                </fieldset>
                <button type="submit">Sign up</button>
                <small>
                    Already have an account? <a href="#"> Sign in</a>
                </small>
            </form>
        </div>
    </body>

</html>
